/*
Colors
Light orange: #fdd835
Medium orange: #ffb300
Dark orange: #fb8c00
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 10/16 = 62.5% */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    font-size: 6.5rem;
    font-weight: 400;
    letter-spacing: 4rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 2.2rem;
    font-weight: 70rem;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-top-left-radius: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 1rem;
  /* animate all transform in the button for 2sek */
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(0, 1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 4rem;
  border-bottom-left-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animation {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  margin-bottom: 80px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(253, 216, 53, 0.8), rgba(251, 140, 0, 0.8)), url(../img/beatch.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 48rem, 0 100%);
  position: relative; }
  .header .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo-box .logo {
      height: 10rem; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
