
/*
Colors
Light orange: #fdd835
Medium orange: #ffb300
Dark orange: #fb8c00
*/

$color-primary: #ffb300;
$color-primary-light: #fdd835;
$color-primary-dark: #fb8c00;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;